name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup rust musl targets
      run: rustup target add x86_64-unknown-linux-musl
    - name: Install musl-gcc
      run: sudo apt install -y musl-tools
    - name: cargo check
      run: cargo check --verbose
