name: Verify

on:
  pull_request:
    branches: [ main ]
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup rust musl targets
      run: rustup target add x86_64-unknown-linux-musl
    - name: Install musl-gcc
      run: sudo apt install -y musl-tools
    - name: cargo fmt
      run: cargo fmt --check
    - name: cargo check
      run: cargo check --verbose
    - name: cargo clippy
      run: cargo clippy 
